.Card {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}
.title {
    margin: 0 0 0.2em 0;
}
.content {
    font-family: "Libre Baskerville",Baskerville, Times, serif;
    width: 100%;
    background-image:
        radial-gradient(rgba(255,255,255,0.4) 50%, rgba(255,255,255,0) 70%);
}
.content > p {
    width: 80%;
    margin: 0 auto;
}
.link {
    margin: 0;
    color: #0098d4;
}