input[type="radio"] {
    width: auto;
}
.RadioSelect {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
    margin: 0 50px;
}
.radioOption {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}