.Base {
    height: 100%;
    width: 100%;
    text-align: center;
    vertical-align: center;
    background-image:
            linear-gradient(0turn, rgba(255,255,255,0) 70%, rgba(255,255,255,1) 100%),
            linear-gradient(0.25turn, rgba(255,255,255,0) 90%, rgba(255,255,255,1) 100%),
            linear-gradient(0.5turn, rgba(255,255,255,0) 70%, rgba(255,255,255,1) 100%),
            linear-gradient(0.75turn, rgba(255,255,255,0) 90%, rgba(255,255,255,1) 100%),
            url(../../assets/Background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: scroll;
}
.Info {
    margin: 10px auto;
    width: 600px;
    max-width: 95%;
    text-align: center;
}
.PrivacyPolicy {
    color: #0098d4;
}

.Button {
    margin: 10px;
    padding: 0 5px;
    font-size: 1.5em;
    border-radius: 10px;
    border: solid 1px;
}
.Button:focus {
    outline: none;
}
.Button-selected {
    border-color: lightblue;
}
form {
    display: inline-block;
    width: 400px;
    max-width: 90%;
}

.Names {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.nameField {
    width: 90%;
}
.Participants {
    display: flex;
    flex-flow: column;

}
.Row {
    margin: auto;
    width: 400px;
    max-width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}
.Row > p {
    margin: 2px;
}

input[type="checkbox"] {
    display: inline-block;
    vertical-align: middle;
    width: auto;
    margin: 0 5px;
}

.Consent {
    display: inline-block;
    vertical-align: middle;
}
@media (max-width: 599px) {
    .Base {
        background-image:
                linear-gradient(0turn, rgba(255,255,255,0) 70%, rgba(255,255,255,1) 100%),
                linear-gradient(0.25turn, rgba(255,255,255,0) 70%, rgba(255,255,255,1) 140%),
                linear-gradient(0.5turn, rgba(255,255,255,0) 70%, rgba(255,255,255,1) 100%),
                linear-gradient(0.75turn, rgba(255,255,255,0) 70%, rgba(255,255,255,1) 140%),
                url(../../assets/Background.png);
    }
}