.App {
    background: aliceblue;
    width: 100vw;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}
.Footer {
    height: 10%;
}
.Navigation {
    padding: 0px;
    margin: 0px;
}
.Logo {
    height: 100%;
    width: 100%;
    padding: 20px;
    alignment: center;
    height: 60px;
}