@font-face {
  font-family:"BerlinCollection";
  src: url("assets/Berlin_Collection.eot") format("eot"),
  url("assets/Berlin_Collection.woff") format("woff"),
  url("assets/Berlin_Collection.ttf") format("truetype"),
  url("assets/Berlin_Collection.svg#BerlinCollectionRegular") format("svg");
  font-weight:normal;font-style:normal;
}

body {
  margin: 0;
  height: 100%;
  font-family: "BerlinCollection", "Libre Baskerville",Baskerville, Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
html {
  width: 100%;
  height: 100%;
}
#root {
  height: 100%;
}
