@font-face {
  font-family:"BerlinCollection";
  src: url("assets/Berlin_Collection.eot") format("eot"),
  url("assets/Berlin_Collection.woff") format("woff"),
  url("assets/Berlin_Collection.ttf") format("truetype"),
  url("assets/Berlin_Collection.svg#BerlinCollectionRegular") format("svg");
  font-weight:normal;font-style:normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
