.Base {
    border-radius: 10px;
    height: 100%;
    width: 100%;
    background-image:
            linear-gradient(0turn, rgba(255,255,255,0) 70%, rgba(255,255,255,1) 100%),
            linear-gradient(0.25turn, rgba(255,255,255,0) 90%, rgba(255,255,255,1) 100%),
            linear-gradient(0.5turn, rgba(255,255,255,0) 70%, rgba(255,255,255,1) 100%),
            linear-gradient(0.75turn, rgba(255,255,255,0) 90%, rgba(255,255,255,1) 100%),
            url(../../assets/Background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.Events {
    height: 100%;
    overflow: scroll;
}